<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div *ngIf="launch">
      <ion-title
        >Vol n°{{ launch.flight_number }} nom de la mission:
        {{ launch.mission_name }}</ion-title
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="launch">
    <h1 style="text-align: center">
      <b>{{ launch.mission_name }}</b>
    </h1>

    <h5 style="text-align: center">Date : {{ launch.launch_date_local }}</h5>
    <div style="text-align: center">
      <img src="{{ launch.links.mission_patch }}" style="max-width: 25em"/>
    </div>
    <br />
    <h5>Description :</h5>
    <p class="description">{{ launch.details }}</p>

    <h5 style="text-align: center">
      Site du lancement: {{ launch.launch_site.site_name_long }}
    </h5>

    <h5 style="text-align: center">Fusée: {{ launch.rocket.rocket_name }}</h5>
    <div style="text-align: center">
      <a   href="{{ launch.telemetry.flight_club }}"
      ><img style="width: 50px;" src="https://1.bp.blogspot.com/-849buDg4fag/VvRmR6KEuVI/AAAAAAAAA9Y/XOU2H5-m530eSxHZa322_jHG4-Bv68G_Q/s320/icon_reliability.png" />
      </a>
    </div>
    
  </div>
</ion-content>
