<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Missions</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div  *ngIf="mission">
        <p>
          {{mission.mission_name}}
        </p>
    </div>
  </ion-content>